<div>
  <nav-bar current-page="communities"></nav-bar>
  <graffiti-discover
    v-slot="{ objects: communityObjects }"
    :channels="['designftw']"
    :schema="communitySchema"
  >
    <div class="content">
      <community-sidebar 
        ref="communitySidebar"
        :all-communities="processedCommunities(communityObjects)"
        :joined-channels="joinedChannels"
        :selected-community="selectedCommunity" 
        :loading="loading" 
        :creating="creating" 
        @select-community="enterCommunity"
        @create-community="createCommunity"
        @join-community="joinCommunity"
        @leave-community="leaveCommunity"> 
      </community-sidebar>
      
      <main>
        <div class="community-tabs" v-if="selectedCommunity">
          <button 
            @click="activeTab = 'chat'" 
            :class="{ active: activeTab === 'chat' }"
          >
            Chat
          </button>
          <button 
            @click="activeTab = 'events'" 
            :class="{ active: activeTab === 'events' }"
          >
            Events
          </button>
        </div>
        <chat-view
          v-if="activeTab === 'chat' && selectedCommunity"
          :channel="selectedCommunity ? { ...selectedCommunity, isCommunity: true } : null"
          @channel-renamed="handleChannelRenamed"
        ></chat-view>
        <event-view
          v-if="activeTab === 'events' && selectedCommunity"
          :community="selectedCommunity ? { ...selectedCommunity, isCommunity: true } : null"
        ></event-view>
      </main>
    </div>
  </graffiti-discover>
</div>